h1 center{
    background-color: rgba(red, green, blue, alpha);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    padding: 10px 10px;
}